*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
}
:root{
    --black: #000000;
    --black-70: rgba(0,0,0,0.7);
    --black-20: rgba(0,0,0,0.2);
    --black-shadow: 0 5px 8px var(--black-20); 
    --white: #FFFFFF;
    --orange: #F06529;
    --blue: #2965F1;
    --yellow: #F0DB4F;
    --pink: #eb4982;
    --gradient: linear-gradient(0deg, var(--black-70) 30%, rgba(0,0,0,0) 100%);
    --gradient-0: linear-gradient(0deg, rgba(0,0,0,0) 30%, rgba(0,0,0,0) 100%);
}
html{
    font-size: 16px;
}
h2{
    color: var(--black);
    font-size: 40px;
    font-weight: 900;
    text-align: left;
}
section{
    margin-top: 50px;
}
.projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.projects-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.project-card{
    width: 300px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: var(--black-shadow);
}
.project-image-container{
    width: 100%;
    aspect-ratio: 1/0.55;
    position: relative;
    overflow: hidden;
}
.project-image{
    width: 100%;
    aspect-ratio: 1/0.55;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    transition: .5s;
}
.project-image-container:hover .project-image{
    width: 110%;
    transition: .5s;
}
.project-image-cover{
    background-color: var(--black-20);
    width: 100%;
    aspect-ratio: 1/0.55;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    overflow: hidden;
}
.project-name-container{
    background: var(--gradient);
    width: 100%;
    height: 50%;
    padding: 12px 20px;
    display: flex;
    align-items: end;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(100%);
    transition: .5s;
}
.project-image-container:hover .project-name-container{
    background: var(--gradient);
    transform: translateY(0%);
    transition: .5s;
}
.project-name{
    color: var(--white);
    font-size: 1.25rem;
    font-weight: bold;
}
.project-info-container{
    background-color: var(--white);
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.project-info-description{
    width: 100%;
    height: 60px;
    font-size: 0.90rem;
    overflow: hidden;
}
.project-info-tags{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}
.project-tag{
    padding: 4px 8px;
    color: var(--white);
    font-size: 0.75rem;
    font-weight: bold;
    text-decoration: none;
    border-radius: 4px;
}
.orange{
    background-color: var(--orange);
}
.blue{
    background-color: var(--blue);
}
.yellow{
    background-color: var(--yellow);
    color: var(--black);
}
.pink{
    background-color: var(--pink);
}